@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  box-sizing: border-box;
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75); /* paragraphs */
  --very-light-gray: hsl(0, 0%, 95%); /* background, headings, buttons */
}

*,
::after,
::before {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--very-light-gray);
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.6;
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  color: var(--very-light-gray);
}

button {
  padding-top: 1em;
  padding-bottom: 1em;
  width: 70%;
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9375rem;
  border: none;
  border-radius: 2em;
  margin-top: 4em;
  background: var(--very-light-gray);
  transition: all 400ms ease-in-out;
  cursor: pointer;
}

button:hover {
  background: transparent;
  border: 1px solid var(--very-light-gray);
  color: var(--transparent-white);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 50%;
  border-radius: 0.5em;
  color: var(--transparent-white);
}

.cards > div {
  padding: 4em;
}

.sedans__card {
  background: var(--bright-orange);
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.sedans__card > button {
  color: var(--bright-orange);
}

.sedans__card > button:hover {
  color: var(--very-light-gray);
}

.suvs__card {
  background: var(--dark-cyan);
}

.suvs__card > button {
  color: var(--dark-cyan);
}

.suvs__card > button:hover {
  color: var(--very-light-gray);
}

.luxury__card {
  background: var(--very-dark-cyan);
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.luxury__card > button {
  color: var(--very-dark-cyan);
}

.luxury__card > button:hover {
  color: var(--very-light-gray);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 600px) {
  .container {
    height: 100%;
  }

  .cards {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }

  .sedans__card {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0;
  }

  .luxury__card {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
  }
}
